<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>

<body>
<h1>
    Home Page
</h1>

<button onclick="loadData()">
    Call Protected API
</button>

<h2 id = "result"></h2>
<script>
    async function loadData(){
        const token = localStorage.getItem("token");

        const response = await fetch("/api/data",
        {
            method:"GET",
            headers: {
                "Authorization" : "Bearer " + token
                }
            }
        );
        const data = await response.text();
        document.getElementById("result").innerText = data;

    }
</script>

</body>


</html>